h1, h2 {
    text-align: center;
    color: #ffdf1b;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #fff;
  position: relative;
  font-size: 30px;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #fff;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0px;
  position: relative;
}

.logo {
  width: 100%;
  background-color: #0055a4;
}

.logo img {
  width: 480px;
}

.startscreen {
  position: relative;
  margin: auto;
  background-color: #156BB8;
  margin-top: 150px;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

nav {
  width: 100%;
  margin: auto;
}

nav ul {
  padding: 0;
}

nav li {
  list-style: none;
  background-color: #ffdf1b;
  border-radius: 20px;
  text-align: center;
  margin: 0 0 10px 0;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

ul .selected {
  box-shadow: 2px 2px 2px #fff;
}

.eagle360 {
    height: 150px;
    padding: 20px;
    position: fixed;
    bottom:0%;
    background-color: rgba(7, 27, 107, 0.5);
    border-radius: 5px;
}

/*
* #### MEDIA QUERIES ####
*/
@media (max-width: 500px){
  .startscreen {
    width: 300px;
  }
}
@media (max-height: 500px){
  .startscreen {
    margin-top: 60px;
  }
}
