@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

$gy-blue: #0055a4;
$gy-yellow: #ffdf1b;

.background-360 {
  background: url("../../images/360Images/eagle360-urban.jpg") no-repeat;
  background-size: cover;
}

.logo {
  background: rgba(0, 85, 164, 0.8);
  text-align: center;
  color: $gy-yellow;
  margin-bottom: 2em;
  img {
    width: 50%;
  }
  h1,
  h2 {
    margin: 0;
  }
}

@import "startscreen.scss";
@import "selectplayer.scss";
