@import "../../vendor/bootstrap/css/bootstrap.min.css";
@import "../../vendor/bootstrap/css/bootstrap-theme.min.css";
@import "vars";

$gy-blue: #0055a4;
$gy-yellow: #ffdf1b;

.background-360 {
  background: url("../../images/360Images/eagle360-urban.png") no-repeat;
  background-size: cover;
}


.logo {
  background: rgba(0, 85, 164, 0.8);
  text-align: center;
  color: $gy-yellow;
  margin-bottom: 2em;
  img {
    width: 25%;
  }
  h1,
  h2 {
    margin: 0;
  }
}

@media (max-width: 500px) {
  .background-360 {
    background: url("../../images/360Images/eagle360-urban-mobile.png") no-repeat;
  }
}



@import "startscreen.scss";
@import "selectplayer.scss";
