
.selectPlayer{

    margin: 1% 10%;
}

.road-selection-chooser{

    img{
        width:300px;
		height:250px;
    }

    .invalid{
        opacity:0.5;
    }
}

#tire-selection-chooser{
    article{
        img{
            width:250px;


        }

        .selected{
                border:2px solid red;
            }


    }

}

/*
*  #### MEDIA QUERIES ####
*/

@media (max-width: 500px) {
  .road-selection-chooser img {
    width: 30%;
    height: 30%;
  }

  #tire-selection-chooser article img {
    width: 30%;
    height: 30%;
  }

}

@media (max-height: 800px) {
  .road-selection-chooser img {
    width: 30%;
    height: 30%;
  }

  #tire-selection-chooser article img {
    width: 30%;
    height: 30%;
  }
}
