.selectPlayer{

    margin: 1% 10%;
}

.road-selection-chooser{

    img{
        width:300px;
    }

    .invalid{
        opacity:0.5;
    }
}

#tire-selection-chooser{
    article{
        img{
            width:250px;


        }

        .selected{
                border:2px solid red;
            }


    }

}
