h1, h2 {
    text-align: center;
    color: #ffdf1b;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}

header {
  position: relative;
  margin: auto;
  background-color: #156BB8;
  margin-top: 150px;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: #fff;
  position: relative;
  font-size: 30px;
}

a:hover {
  text-decoration: underline;
}

nav {
  width: 400px;
  margin: auto;
}

nav ul {
  padding: 0;
}

nav li {
  list-style: none;
  background-color: #ffdf1b;
  border-radius: 5px;
  text-align: center;
  margin: 0 0 10px 0;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

body {
  background-color: #0e487b;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0px;
  position: relative;
}
